{%extends "store/layout.html" %}
{%load static%}
{%block content%}
<div style="margin: 5%; ">
  <div>
    <img src="{% static 'store/images/istock.jpg' %}" width="20%">
  </div>
  <div>
    <h3>Our main points in KZ</h3>
    <Ul>
      <li>Aktau, 16th microdistrict</li>
      <li>Nur-Sultan, Seifullin Street</li>
      <li>Almaty, Tole Bi Avenue</li>
      <li>Oral, Shapagat Street</li>
    </Ul>
    <h3>Contact info:</h3>
    <p>
      Email: estoreRect@gmail.com<br><br>
      Phone number: +7 (778)788-88-78; +7 7292359123
    </p>
  </div>
</div>

{% endblock %}