{%extends "store/layout.html" %}
{%block content%}
    <center><h2>Department of {{dep.dep_name}}</h2></center>
    {% if dep %}
    <div class="row">
        <div class="col-lg-12">
            {% for it in items %}
            <div class="col-lg-2" style="margin-top: 1%">
                <img class="thumbnail" src="{{it.imageURL}}">
                    <div class="box-element product">
                        <h6><strong><a href="{% url 'store:get_item_by_id' it.id%}">{{it.item_name}}</a></strong></h6>
                        <hr>
                        <button class="btn btn-outline-secondary add-btn" onclick="addToCart('{{it.id}}', 'add')">Add</button>
                        <h4 style="display: inline-block; float: right"><strong>${{it.item_cost}}</strong></h4>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h2>This department has not been added yet</h2>
    {% endif %}
    <a href="{% url 'store:departments' %}" style="color: black; font-family:'Arial'">Go Back</a>
{% endblock %}