{%extends "store/layout.html" %}
{%block content%}
    <center><h2>These are the departments! Welcome!</h2></center>
    {% if all_deps %}
    <ul>
        {% for dep in all_deps %}
        <div class="col-lg-4" style="margin-top: 1%">
                <img class="thumbnail" src="{{dep.imageURL}}">
                    <div class="box-element product">
                        <h6><strong><a href="{% url 'store:get_dep_by_id' dep.id%}">{{dep.dep_name}}</a></strong></h6>

                    </div>
            </div>
        {% endfor %}
    </ul>
    {% else %}
        <h2>NO departments yet!</h2>
    {% endif %}
{% endblock %}