{%extends "store/layout.html" %}
{%block content%}
    <center><h2 style="font-family: 'Comic Sans MS'; margin-top: 3%">Welcome to our Electronic Store!</h2></center>
    <h2><br>The highest rated items are:</h2>
    {% if high_rated_items %}
    <div class="row" style="padding-left: 4%; padding-right: 4%">
        {% for it in high_rated_items %}
        <div class="col-lg-3" style="margin-top: 1%">
            <img class="thumbnail" src="{{it.imageURL}}">
            <div class="box-element product">
                <h6><strong><a href="{% url 'store:get_item_by_id' it.id%}">{{it.item_name}}</a></strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn" onclick="addToCart('{{it.id}}', 'add')">Add</button>
                <h4 style="display: inline-block; float: right"><strong>${{it.item_cost}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h2>NO items yet!</h2>
    {% endif %}
    <h2><br>The most viewed items are:</h2>
    {% if popular_items %}
    <div class="row" style="padding-left: 4%; padding-right: 4%">
        {% for it2 in popular_items %}
        <div class="col-lg-3" style="margin-top: 1%">
            <img class="thumbnail" src="{{it2.imageURL}}">
            <div class="box-element product">
                <h6><strong><a href="{% url 'store:get_item_by_id' it2.id%}">{{it2.item_name}}</a></strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn" onclick="addToCart('{{it2.id}}', 'add')">Add</button>
                <h4 style="display: inline-block; float: right"><strong>${{it2.item_cost}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h2>NO items yet!</h2>
    {% endif %}
    <br>
{% endblock %}