{%extends "store/layout.html" %}
{% load static %}
{%block content%}
    <center><h2 style="font-family: 'Comic Sans MS'; margin-top: 3%">Welcome to our Electronic Store!</h2></center>
    {% if all_items %}
    <div class="row" style="padding-left: 4%; padding-right: 4%">
        {% for it in all_items %}
        <div class="col-lg-2" style="margin-top: 1%">
            <img class="thumbnail" src="{{it.imageURL}}">
            <div class="box-element product">
                <h6><strong><a href="{% url 'store:get_item_by_id' it.id%}">{{it.item_name}}</a></strong></h6>
                <hr>
                <button class="btn btn-outline-secondary add-btn" onclick="addToCart('{{it.id}}', 'add')">Add</button>
                <button class="btn btn-outline-secondary add-btn" onclick="wishList('{{it.id}}', 'add')"><img src="{% static 'store/images/wish.png' %}" width="20px"></button>
                <h4 style="display: inline-block; float: right"><strong>${{it.item_cost}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h2>NO items yet!</h2>
    {% endif %}
{% endblock %}