{%extends "store/layout.html" %}
{%block content%}
    <center><h2>Item Detail Page</h2></center>
    <h3>Item ID#: {{item.id}}
    <br>
        Item Name: {{item.item_name}}
    <br>
        Details: {{item.item_desc}}
    <br>
        Cost: {{item.item_cost}}
    <br>
        <img src="{{item.imageURL}}" class="row-image" >
    <br>
        <button class="btn btn-outline-secondary add-btn update-cart" data-product='{{item.id}}' data-action='add' >Add to Cart nw</button>
        <button class="btn btn-outline-secondary add-btn" onclick="addToCart('{{item.id}}', 'add')">Add to Cart w</button>
<!-- -->
    </h3>
    <a href="{% url 'store:index' %}">Go Back</a>
{% endblock %}