{% extends "store/layout.html"%}

{% block content %}
  {% if search_res %}
<a href="{% url 'store:index' %}" style="color: black">Go Back</a>
<center><h2>Search Results:</h2></center>
    {% for it in search_res%}
      <div class="col-lg-2" style="margin-top: 1%">
          <img class="thumbnail" src="{{it.imageURL}}">
              <div class="box-element product">
                  <h6><strong><a href="{% url 'store:get_item_by_id' it.id%}">{{it.item_name}}</a></strong></h6>
                  <hr>
                  <button class="btn btn-outline-secondary add-btn" onclick="addToCart('{{it.id}}', 'add')">Add</button>
                  <h4 style="display: inline-block; float: right"><strong>${{it.item_cost}}</strong></h4>
              </div>
      </div>
      {%endfor%}
    {% else %}
      {{empty_res}}
    {% endif %}
{% endblock%}
